@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

body {
	background: #ccc;
}
#weather_wrapper{
	width: 400px;
	margin: 20px auto;
	position: relative;
}
.weatherCard{
	width: 400px;
	height: 200px;
	font-family: 'Open Sans';
	position: relative;
}
.currentTemp{
	width: 220px;
	height: 200px;
	background: rgb(41, 41, 41);
	position: absolute;
	top: 0;
	left: 0;
}
.currentWeather{
	width: 180px;
	height: 200px;
	background: rgb(42, 135, 234);
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.temp{
	font-size: 80px;
	text-align: center;
	display: block;
	font-weight: 300;
	color: rgb(255, 255, 255);
	padding: 20px 0 0;
}
.location{
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	display: block;
}
.conditions{
	font-family: weathericons;
	height: 150px;
    display: block;
    text-align: center;
    padding: 25px 0;
}
.info{
	width: 180px;
	height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	background:#007bff;
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-align: center;
}
.rain {
	width: 50%;
	position: absolute;
	left: 10px;
	word-spacing: 60px;
	top: 3px;
}
.rain::before{
	display: block;
	content: '\f04e';
	font-family: weathericons;
	font-size: 40px;
	left: 6px;
	top: -4px;
	position: absolute;
}
.wind {
	width: 50%;
	right: -10px;
	position: absolute;
	word-spacing: 60px;
	top: 3px;
}
.wind::before{
	display: block;
	content: '\f050';
	font-family: weathericons;
	font-size: 25px;
	left: -10px;
	position: absolute;
	top: 5px;
}
.loader{
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
}
.loader.hide{
	display: none;
}
.loader.show{
	display: block;
}
.loader img{
	margin: 50px auto;
    width: 100px;
}
.city-form{
	width: 400px;
	margin: 20px auto;
}
.city-form input{
	outline: none!important;
	width: 300px !important;
	border-radius: 0!important;
	outline: none !important;
	border:none !important;
	box-shadow: none!important;
}
.city-form input:focus{
	outline: none !important;
	border:none !important;
	box-shadow: none!important;
}
.city-form button{
	outline: none;
	width: 100px;
	border-radius: 0 !important;
}
.errorContainer{
	width: 400px;
	margin: 0 auto;
	color:#e81224;
	text-align: center;
	font-weight: 600;
}